<template>
	<div>
		<div class="container-fluid">
            <div class="page-header">
                <div class="row align-items-end">
                    <div class="col-lg-8">
                        <div class="page-header-title">
                            <div class="d-inline">
                                <h5>Administración</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 mb-3">
                <div class="nav justify-content-end">
                    <button @click="ModalupdateOrCreate(0)" type="button" class="btn btn-primary" data-toggle="modal" data-target=".modal-create-0"><i class="ik ik-plus"></i> Nuevo</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">

                          <h3 class="card-title">Lista de Roles</h3>
                          <div class="col-sm-12">

                              <div class="justify-content-center">
                                  <table  class="table table-striped table-bordered" style="width:100%" id="myTableRoles">
                                      <thead>
                                          <tr>
                                              <th>#</th>
                                              <th>Rol</th>
                                              <th>Acciones</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr v-for="rol in roles">
                                              <th scope="row" width="5%">{{rol.id}}</th>
                                              <td>{{rol.name}}</td>
                                              <td width="35%">
                                                  <button type="button" class="mx-1 btn btn-icon btn-info" data-toggle="modal" :data-target="'.modal-info-'+rol.id" @click.prevent="infoConcessionaire(rol)">
                                                      <i class="ik ik-info"></i>
                                                  </button>
                                                  <button @click="ModalupdateOrCreate(rol.id)" v-if="rol.id!=1" type="button" class="mx-1 btn btn-icon btn-primary" data-toggle="modal" :data-target="'.modal-edit-'+rol.id">
                                                      <i class="ik ik-edit-2"></i>
                                                  </button>
                                                  <button type="button" v-if="rol.id!=1" class="mx-1 btn btn-icon btn-warning" data-toggle="modal" :data-target="'.modal-delete-'+rol.id">
                                                      <i class="ik ik-trash-2"></i>
                                                  </button>
                                              </td>
                                          </tr>

                                      </tbody>
                                  </table>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">

                          <h3 class="card-title">Lista de Usuarios</h3>
                          <div class="col-sm-12">

                              <div class="justify-content-center">
                                  <table  class="table table-striped table-bordered" style="width:100%" id="myTableRoles">
                                      <thead>
                                          <tr>
                                              <th>#</th>
                                              <th>Usuarios</th>
                                              <th>Acciones</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr v-for="user in users">
                                              <th scope="row" width="5%">{{user.id}}</th>
                                              <td>{{user.name}}</td>
                                              <td width="35%">
                                                  <button type="button" class="mx-1 btn btn-icon btn-info" data-toggle="modal" :data-target="'.modal-info-'+user.id" @click.prevent="infoConcessionaire(rol)">
                                                      <i class="ik ik-info"></i>
                                                  </button>
                                                  <button @click="ModalupdateOrCreate(user.id)" type="button" class="mx-1 btn btn-icon btn-primary" data-toggle="modal" :data-target="'.modal-edit-'+user.id">
                                                      <i class="ik ik-edit-2"></i>
                                                  </button>
                                                  <button type="button" class="mx-1 btn btn-icon btn-warning" data-toggle="modal" :data-target="'.modal-delete-'+user.id">
                                                      <i class="ik ik-trash-2"></i>
                                                  </button>
                                              </td>
                                          </tr>

                                      </tbody>
                                  </table>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>

         </div>

				 <div v-for="rol in roles">
						<div :class="'modal modal-info-'+rol.id" tabindex="-1" role="dialog"
								 aria-labelledby="myLargeModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg">
										<div class="modal-content">
												<div class="modal-header">
														<h5 class="modal-title" id="exampleModal3Label">Rol {{rol.name}}</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																<span aria-hidden="true">&times;</span>
														</button>
												</div>
												<div class="modal-body">
													 <div class="card-body">
														 <h6 class="card-subtitle mb-2 text-muted">Nombre</h6>
														 <div class="" v-for="permission in permissions">

															 <p class="card-text" v-if="rol.id==permission.role_id">
																 {{permission.name}}
															 </p>
														 </div>
													 </div>


												</div>
												<div class="modal-footer">
														<button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
											</div>
										</div>
							</div>
						</div>
						<div :class="'modal modal-'+tips+'-'+id" tabindex="-1" role="dialog"
								 aria-labelledby="myLargeModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg">
										<div class="modal-content">
												<div class="modal-header">
														<h5 class="modal-title" id="exampleModal3Label">{{tittle}}</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																<span aria-hidden="true">&times;</span>
														</button>
												</div>
												<div class="modal-body">
													<form method="post" v-on:submit.prevent="updateOrCreate()">

														<label for="formGroupExampleInput2">permisos</label>

														<div class="nav justify-content-star" v-for="on in p_on">

															<label class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" checked="" >
                                  <span class="custom-control-label">&nbsp; {{on.name}}</span>
                              </label>

														</div>
														<div class="nav justify-content-star" v-for="off in p_off">
																<label class="custom-control custom-checkbox">
																	<input type="checkbox" class="custom-control-input"  >
																	<span class="custom-control-label">&nbsp; {{off.name}}</span>
															</label>
														</div>
														<div class="" v-if="id==0">
															<div class="nav justify-content-star" v-for="perm in permi">
																	<label class="custom-control custom-checkbox">
																		<input type="checkbox" class="custom-control-input" v-model="checkedNames">
																		<span class="custom-control-label">&nbsp; {{perm.name}}</span>
																</label>
														</div>
													</div>
															<!-- <div class="nav justify-content-star" v-for="perm in permi">
																	<label class="custom-control custom-checkbox">
																		<input type="checkbox" class="custom-control-input" v-model="checkedNames">
																		<span class="custom-control-label">&nbsp; {{perm.name}}</span>
																</label>
															</div> -->




														<input type="hidden" name="id" v-model="id">
													</form>
												</div>
												<div class="modal-footer">
														<button type="button" class="btn btn-info" data-dismiss="modal" @click.prevent="updateOrCreate(id)">{{tittle}}</button>
														<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
											</div>
										</div>
							</div>
						</div>
				 </div>
				 <div v-for="rol in roles">
						<div :class="'modal modal-delete-'+rol.id" tabindex="-1" role="dialog"
								 aria-labelledby="myLargeModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg">
										<div class="modal-content">
												<div class="modal-header">
														<h5 class="modal-title" id="exampleModal3Label">Rol <b>{{rol.name}}</b></h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																<span aria-hidden="true">&times;</span>
														</button>
												</div>
												<div class="modal-body">

														<div class="card-body">
															<h6 class="card-subtitle mb-2 text-muted">¿Está seguro que desea elimina el roll "{{rol.name}}", se eliminaran todos los permisos asociados al mismo?</h6>
														</div>


												</div>
												<div class="modal-footer">
														<button type="button" class="btn btn-info" data-dismiss="modal" @click.prevent="deleteRol(rol)">Eliminar</button>
											</div>
										</div>
							</div>
						</div>
				 </div>
	</div>

</template>
<script>
    import datables from 'datatables'
    export default {
         mounted(){
            this.getRoles();
        },
        data(){
          return{
            roles:[],
            users:[],
						permission:[],
						id:null,
						tips:null,
						tittle:null,
						perm:null,
						form:{
							id:null,

						},
						pp:null,
						p_on:null,
						p_off:null,
						checkedNames:[],
          }

        },
        methods:{

          mytable(){
              $(document).ready(function(){
                  $('#myTableRoles','#myTableUsers').DataTable({
                      retrieve: true,
                      language: {
                          "sProcessing":     "Procesando...",
                          "sLengthMenu":     "Mostrar _MENU_ registros",
                          "sZeroRecords":    "No se encontraron resultados",
                          "sEmptyTable":     "Ningún dato disponible en esta tabla =(",
                          "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                          "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                          "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                          "sInfoPostFix":    "",
                          "sSearch":         "Buscar:",
                          "sUrl":            "",
                          "sInfoThousands":  ",",
                          "sLoadingRecords": "Cargando...",
                          "oPaginate": {
                              "sFirst":    "Primero",
                              "sLast":     "Último",
                              "sNext":     "Siguiente",
                              "sPrevious": "Anterior",
                          },
                          "oAria": {
                              "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                              "sSortDescending": ": Activar para ordenar la columna de manera descendente",
                          },
                          "buttons": {
                              "copy": "Copiar",
                              "colvis": "Visibilidad",
                          }

                      },
                  });
              });

          },//data tables
					ModalupdateOrCreate(id){

							this.tittle =(id == 0)? 'Crear Rol' : 'Editar Rol';
							this.tips =(id == 0)? 'create' : 'edit';
							this.id = id;
							if (id!=0) {
								var url = 'info_rol/'+id
								axios.get(url).then(response=>{
									 // this.form=response.data
									this.p_on = response.data.p_on
 									this.p_off = response.data.p_off
								});
							if (id==0) {
								this.id==0;
								this.permi = response.data.permi
							}
							}

					},

					updateOrCreate(id){
						var url="save_rol";
						this.form.id = id;


						console.log(this.form);

						// axios.post(url,this.form).then(response=>{
						//
						// 		this.getClients()
						// 		this.form={}
						//
						// });

					},
          getRoles(){
              var urlRoles="getRoles";

              axios.get(urlRoles).then(response=>{
                  this.roles = response.data.roles
                  this.users = response.data.users
									this.permissions = response.data.permissions
									this.permi = response.data.permi

                  this.mytable()
              });
          },
					deleteRol(rol){
								var url="administraciond/"+rol.id;
								axios.delete(url).then(response=>{
								this.getRoles();
						});
					},
        }//metodos

    }
</script>
