<template>
	<div>
		<div class="container-fluid">
            <div class="page-header">
                <div class="row align-items-end">
                    <div class="col-lg-8">
                        <div class="page-header-title">
                            <div class="d-inline">
                                <h5>Bitacora</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                          <div class="col-sm-12">

                              <div class="justify-content-center">
                                  <table  class="table table-striped table-bordered" style="width:100%" id="myTable">
                                      <thead>
                                          <tr>
                                              <th>Usuario</th>
                                              <th>Acción</th>
                                              <th>Fecha</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr v-for="action in actions">
                                              <th scope="row" width="5%">{{action.name}}</th>
                                              <td>{{action.action}}</td>
                                              <td width="15%">{{action.created_at}}</td>
                                          </tr>

                                      </tbody>
                                  </table>
                              </div>
                        </div>
                    </div>
                </div>
            </div>

         </div>

	</div>
</div>

</template>
<script>
    export default {
				mounted(){
				 this.getActions();
		 		},
        created(){

        },
        data(){
            return{
              actions:[],
            }
        },
        methods:{
          mytable(){
              $(document).ready(function(){
                  $('#myTable').DataTable({
                      retrieve: true,
                      language: {
                          "sProcessing":     "Procesando...",
                          "sLengthMenu":     "Mostrar _MENU_ registros",
                          "sZeroRecords":    "No se encontraron resultados",
                          "sEmptyTable":     "Ningún dato disponible en esta tabla =(",
                          "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                          "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                          "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                          "sInfoPostFix":    "",
                          "sSearch":         "Buscar:",
                          "sUrl":            "",
                          "sInfoThousands":  ",",
                          "sLoadingRecords": "Cargando...",
                          "oPaginate": {
                              "sFirst":    "Primero",
                              "sLast":     "Último",
                              "sNext":     "Siguiente",
                              "sPrevious": "Anterior",
                          },
                          "oAria": {
                              "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                              "sSortDescending": ": Activar para ordenar la columna de manera descendente",
                          },
                          "buttons": {
                              "copy": "Copiar",
                              "colvis": "Visibilidad",
                          }

                      },
                  });
              });

          },
          getActions(){
            var url="bitacorainit";
            axios.get(url).then(response=>{
                this.actions=response.data

                this.mytable()
            });
          },
        }

    }
</script>
