<template>
	<div>
		<div class="container-fluid">
            <div class="page-header">
                <div class="row align-items-end">
                    <div class="col-lg-8">
                        <div class="page-header-title">
                            <div class="d-inline">
                                <h5>Clientes</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">

                            <div class="col-sm-12 mb-3">
                                <div class="nav justify-content-end" v-for="permission in permissions">
                                    <button v-if="permission.permission_id==4" @click="ModalupdateOrCreate(0)" type="button" class="btn btn-primary" data-toggle="modal" data-target=".modal-create-0"><i class="ik ik-plus"></i> Nuevo</button>
                                </div>
                            </div>

                            <h3 class="card-title">Lista de Clientes</h3>

                            <div class="col-sm-12">

                                <div class="justify-content-center">
                                    <table  class="table table-striped table-bordered" style="width:100%" id="myTable">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Nombre</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="client in clients">
                                                <th scope="row" width="5%">{{client.id}}</th>
                                                <td>{{client.name}}</td>
                                                <td width="15%">
																									<span class="" v-for="permission in permissions">
																										<button type="button" v-if="permission.permission_id==3" class="mx-1 btn btn-icon btn-info" data-toggle="modal" :data-target="'.modal-info-'+client.id">
                                                        <i class="ik ik-info"></i>
                                                    </button>
																										<button @click="ModalupdateOrCreate(client.id)" v-if="permission.permission_id==2" type="button" class="mx-1 btn btn-icon btn-primary" data-toggle="modal" :data-target="'.modal-edit-'+client.id">
                                                        <i class="ik ik-edit-2"></i>
                                                    </button>
                                                    <button type="button" class="mx-1 btn btn-icon btn-warning" v-if="permission.permission_id==5" data-toggle="modal" :data-target="'.modal-delete-'+client.id">
                                                        <i class="ik ik-trash-2"></i>
                                                    </button>
																									</span>


                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>

         <div v-for="client in clients">
            <div :class="'modal modal-info-'+client.id" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModal3Label">Cliente {{client.name}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

													  <div class="card-body">
													    <h6 class="card-subtitle mb-2 text-muted">Nombre</h6>
													    <p class="card-text">
																{{client.name}}
													    </p>
															<h6 class="card-subtitle mb-2 text-muted">Email</h6>
													    <p class="card-text">
													      {{client.email}}
													    </p>
															<h6 class="card-subtitle mb-2 text-muted">DNI</h6>
													    <p class="card-text">
													      {{client.dni}}
													    </p>
															<h6 class="card-subtitle mb-2 text-muted">Teléfono</h6>
													    <p class="card-text">
													      {{client.telefono}}
													    </p>
															<h6 class="card-subtitle mb-2 text-muted">Concesionario</h6>
													    <p class="card-text">
																<div v-for="conce in concessionaires" >
																	<span v-if="conce.id==client.concessionaire_id">{{conce.name}}</span>
																</div>
													    </p>
															<h6 class="card-subtitle mb-2 text-muted">Estatus</h6>
													    <p class="card-text">
																<div v-for="status in statuses" >
																	<span v-if="status.id==client.status_id">{{status.description}}</span>
																</div>
													    </p>
															<h6 class="card-subtitle mb-2 text-muted">Creador</h6>
													    <p class="card-text">
																<div v-for="user in users" >
																	<span v-if="user.id==client.user_id">{{user.name}}</span>
																</div>
													    </p>
													  </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
                      </div>
                    </div>
              </div>
            </div>
         </div>

            <div :class="'modal modal-'+tips+'-'+id" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModal3Label">{{tittle}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
													<form method="post" v-on:submit.prevent="updateOrCreate()">

														<div class="form-group">
													    <label for="formGroupExampleInput2">Nombre</label>
													    <input type="text" name="name" v-model="form.name"  class="form-control" id="formGroupExampleInput2" placeholder="Nombre">
													  </div>

														<div class="form-group">
													    <label for="inputEmail3">Email</label>
													    <input type="email" name="email" v-model="form.email" class="form-control" id="inputEmail3" placeholder="Email">
													  </div>
														<div class="form-group">
													    <label for="formGroupExampleInput">DNI</label>
													    <input type="text" name="dni" v-model="form.dni" class="form-control" id="formGroupExampleInput" placeholder="DNI">
													  </div>
														<div class="form-group">
													    <label for="formGroupExampleInput">Teléfono</label>
													    <input type="text" name="telefono" v-model="form.telefono" class="form-control" id="formGroupExampleInput" placeholder="Teléfono">
													  </div>
														<div class="form-group">
															<label for="formGroupExampleInput">Concesionario</label>

															<select  class="custom-select" name='concessionaire_id' v-model="form.concessionaire_id">
															  <option v-for="concessionaire in concessionaires" :value="concessionaire.id">{{concessionaire.name}}</option>
															</select>

														</div>
														<input type="hidden" name="id" v-model="id">
													</form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info" data-dismiss="modal" @click.prevent="updateOrCreate(id)">{{tittle}}</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                      </div>
                    </div>
              </div>
            </div>
						<div v-for="client in clients">
							 <div :class="'modal modal-delete-'+client.id" tabindex="-1" role="dialog"
										aria-labelledby="myLargeModalLabel" aria-hidden="true">
								 <div class="modal-dialog modal-lg">
											 <div class="modal-content">
													 <div class="modal-header">
															 <h5 class="modal-title" id="exampleModal3Label">Cliente <b>{{client.name}}</b></h5>
															 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
																	 <span aria-hidden="true">&times;</span>
															 </button>
													 </div>
													 <div class="modal-body">

															 <div class="card-body">
																 <h6 class="card-subtitle mb-2 text-muted">¿Está seguro que desea elimina el concesionario "{{client.name}}"?</h6>
															 </div>


													 </div>
													 <div class="modal-footer">
															 <button type="button" class="btn btn-info" data-dismiss="modal" @click.prevent="deleteClient(client)">Eliminar</button>
												 </div>
											 </div>
								 </div>
							 </div>
						</div>
	</div>

</template>
<script>
    import datables from 'datatables'
    export default {
        mounted(){
            this.getClients()
						this.getPermissions()
        },
        created(){

        },
        data(){
            return{
               id:null,
               tips:null,
               tittle:null,
               clients:[],
							 concessionaires:[],
							 users:[],
							 statuses:[],
							 form:{
								 name:null,
								 email:null,
							   dni:null,
								 telefono:null,
								 concessionaire_id:null,
								 id:null,
							 },
							 permissions:null,
            }
        },
        methods:{

            mytable(){
                $(document).ready(function(){
                    $('#myTable').DataTable({
                        retrieve: true,
                        language: {
                            "sProcessing":     "Procesando...",
                            "sLengthMenu":     "Mostrar _MENU_ registros",
                            "sZeroRecords":    "No se encontraron resultados",
                            "sEmptyTable":     "Ningún dato disponible en esta tabla =(",
                            "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix":    "",
                            "sSearch":         "Buscar:",
                            "sUrl":            "",
                            "sInfoThousands":  ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst":    "Primero",
                                "sLast":     "Último",
                                "sNext":     "Siguiente",
                                "sPrevious": "Anterior",
                            },
                            "oAria": {
                                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente",
                            },
                            "buttons": {
                                "copy": "Copiar",
                                "colvis": "Visibilidad",
                            }

                        },
                    });
                });

            },
						getPermissions(){
	            var url="home_init";
	            axios.get(url).then(response=>{
	                this.permissions=response.data
	            });
	          },
            getClients(){
                var urlClients="clientinit";
                axios.get(urlClients).then(response=>{
                    this.clients=response.data.clients
										this.concessionaires=response.data.concessionaires
										this.users=response.data.users
										this.statuses=response.data.statuses
                    this.mytable()
                });
            },
            ModalupdateOrCreate(id){
                this.tittle =(id == 0)? 'Crear cliente' : 'Editar cliente';
                this.tips =(id == 0)? 'create' : 'edit';
                this.id = id;
								if (id!=0) {
									var url = 'info_client/'+id
									axios.get(url).then(response=>{
										 this.form=response.data
	                });
								}
            },
						updateOrCreate(id){
							var url="save_client";
							this.form.id = id;

							axios.post(url,this.form).then(response=>{

									this.getClients()
									this.form={}

							});

            },
						deleteClient(client){
							var url="clients/"+client.id;
									axios.delete(url).then(response=>{
									this.getClients();
							});
						},

        }

    }
</script>
