<template>
	<div>
		<div class="container-fluid">
            <div class="page-header">
                <div class="row align-items-end">
                    <div class="col-lg-8">
                        <div class="page-header-title">
                            <div class="d-inline">
                                <h5>Concesionarios</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">

                            <div class="col-sm-12 mb-3">
                                <div class="nav justify-content-end" v-for="permission in permissions" >
                                    <button v-if="permission.permission_id==9" @click="ModalupdateOrCreate(0)" type="button" class="btn btn-primary" data-toggle="modal" data-target=".modal-create-0"><i class="ik ik-plus"></i> Nuevo</button>
                                </div>
                            </div>

                            <h3 class="card-title">Lista de Concesionarios</h3>

                            <div class="col-sm-12">

                                <div class="justify-content-center">
                                    <table  class="table table-striped table-bordered" style="width:100%" id="myTable">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Concesionario</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="concessionaire in concessionaires">
                                                <th scope="row" width="5%">{{concessionaire.id}}</th>
                                                <td>{{concessionaire.name}}</td>
                                                <td width="15%">
																									<span v-for="permission in permissions">
																										<button v-if="permission.permission_id==8" type="button" class="mx-1 btn btn-icon btn-info" data-toggle="modal" :data-target="'.modal-info-'+concessionaire.id" @click.prevent="infoConcessionaire(concessionaire)">
                                                        <i class="ik ik-info"></i>
                                                    </button>
                                                    <button v-if="permission.permission_id==7" @click="ModalupdateOrCreate(concessionaire.id)" type="button" class="mx-1 btn btn-icon btn-primary" data-toggle="modal" :data-target="'.modal-edit-'+concessionaire.id">
                                                        <i class="ik ik-edit-2"></i>
                                                    </button>
                                                    <button v-if="permission.permission_id==10" type="button" class="mx-1 btn btn-icon btn-warning" data-toggle="modal" :data-target="'.modal-delete-'+concessionaire.id">
                                                        <i class="ik ik-trash-2"></i>
                                                    </button>
																									</span>

                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>

         <div v-for="concessionaire in concessionaires">
            <div :class="'modal modal-info-'+concessionaire.id" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModal3Label">Concesionario {{concessionaire.name}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

													  <div class="card-body">
													    <h6 class="card-subtitle mb-2 text-muted">Nombre</h6>
													    <p class="card-text">
													      {{concessionaire.name}}
													    </p>
															<h6 class="card-subtitle mb-2 text-muted">Email</h6>
													    <p class="card-text">
													     {{concessionaire.email}}
													    </p>
															<h6 class="card-subtitle mb-2 text-muted">Localidad</h6>
													    <p class="card-text">
																<div v-for="locate in locates" >
																	<span v-if="locate.id==concessionaire.locate_id">{{locate.name}}</span>
																</div>
													      <!-- Localidad variable -->
													    </p>
															<h6 class="card-subtitle mb-2 text-muted">Ubicación</h6>
													    <p class="card-text">
													      {{concessionaire.ubicacion}}
													    </p>
															<h6 class="card-subtitle mb-2 text-muted">Teléfono</h6>
													    <p class="card-text">
													      {{concessionaire.telefono}}
													    </p>
													  </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
                      </div>
                    </div>
              </div>
            </div>
         </div>

            <div :class="'modal modal-'+tips+'-'+id" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModal3Label">{{tittle}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
													<form method="post" v-on:submit.prevent="updateOrCreate()">

														<div class="form-group">
													    <label for="formGroupExampleInput2">Nombre</label>
													    <input type="text" name="name" v-model="form.name" class="form-control" id="formGroupExampleInput2" placeholder="Nombre">
													  </div>

														<div class="form-group">
													    <label for="inputEmail3">Email</label>
													    <input type="email" name="email" v-model="form.email" class="form-control" id="inputEmail3" placeholder="Email">
													  </div>
														<div class="form-group">
													    <label for="formGroupExampleInput">Ubicación</label>
													    <input type="text" name="ubicacion" v-model="form.ubicacion" class="form-control" id="formGroupExampleInput" placeholder="Ubicación">
													  </div>
														<div class="form-group">
													    <label for="formGroupExampleInput">Teléfono</label>
													    <input type="text" name="telefono" v-model="form.telefono" class="form-control" id="formGroupExampleInput" placeholder="Teléfono">
													  </div>
														<div class="form-group">
															<label for="formGroupExampleInput">Localidad</label>
															<select  class="custom-select" name='locate_id' v-model="form.locate_id">
															  <option v-for="locate in locates" :value="locate.id">{{locate.nombre}}</option>
															</select>
														</div>
														<input type="hidden" name="id" v-model="id">
													</form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info" data-dismiss="modal" @click.prevent="updateOrCreate(id)">{{tittle}}</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                      </div>
                    </div>
              </div>
            </div>
						<div v-for="concessionaire in concessionaires">
							 <div :class="'modal modal-delete-'+concessionaire.id" tabindex="-1" role="dialog"
										aria-labelledby="myLargeModalLabel" aria-hidden="true">
								 <div class="modal-dialog modal-lg">
											 <div class="modal-content">
													 <div class="modal-header">
															 <h5 class="modal-title" id="exampleModal3Label">Concesionario <b>{{concessionaire.name}}</b></h5>
															 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
																	 <span aria-hidden="true">&times;</span>
															 </button>
													 </div>
													 <div class="modal-body">

															 <div class="card-body">
																 <h6 class="card-subtitle mb-2 text-muted">¿Está seguro que desea elimina el concesionario "{{concessionaire.name}}"?</h6>
															 </div>


													 </div>
													 <div class="modal-footer">
															 <button type="button" class="btn btn-info" data-dismiss="modal" @click.prevent="deleteConcessionaires(concessionaire)">Eliminar</button>
												 </div>
											 </div>
								 </div>
							 </div>
						</div>
	</div>

</template>
<script>
    import datables from 'datatables'
    export default {
        mounted(){
            this.getConcessionaires()
						this.getPermissions()
        },

        data(){
            return{
               id:null,
               tips:null,
               tittle:null,
							 p:null,
               concessionaires:[],
							 form:{
								 name:null,
								 email:null,
							   ubicacion:null,
								 telefono:null,
								 locate_id:null,
								 id:null,
							 },
							 locates:null,
							 permissions:null,
            }
        },
        methods:{

            mytable(){
                $(document).ready(function(){
                    $('#myTable').DataTable({
                        retrieve: true,
                        language: {
                            "sProcessing":     "Procesando...",
                            "sLengthMenu":     "Mostrar _MENU_ registros",
                            "sZeroRecords":    "No se encontraron resultados",
                            "sEmptyTable":     "Ningún dato disponible en esta tabla =(",
                            "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix":    "",
                            "sSearch":         "Buscar:",
                            "sUrl":            "",
                            "sInfoThousands":  ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst":    "Primero",
                                "sLast":     "Último",
                                "sNext":     "Siguiente",
                                "sPrevious": "Anterior",
                            },
                            "oAria": {
                                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente",
                            },
                            "buttons": {
                                "copy": "Copiar",
                                "colvis": "Visibilidad",
                            }

                        },
                    });
                });

            },
						getPermissions(){
	            var url="home_init";
	            axios.get(url).then(response=>{
	                this.permissions=response.data
	            });
	          },
            getConcessionaires(){
                var urlConcessionaires="concessionaireinit";

                axios.get(urlConcessionaires).then(response=>{
										this.concessionaires = response.data.concessionaires
										this.locates = response.data.locates

                    this.mytable()
                });
            },
            ModalupdateOrCreate(id){
                this.tittle =(id == 0)? 'Crear Concesionario' : 'Editar Concesionario';
                this.tips =(id == 0)? 'create' : 'edit';
                this.id = id;
								if (id!=0) {
									var url = 'info_conce/'+id
									axios.get(url).then(response=>{
										 this.form=response.data
	                });

								}
            },
						updateOrCreate(id){
							var url="save_conce";
							this.form.id = id;
							axios.post(url,this.form).then(response=>{

									this.getConcessionaires()
									this.form={}

							});

            },

						deleteConcessionaires(concessionaire){
							var url="concessionaries/"+concessionaire.id;
									axios.delete(url).then(response=>{
									this.getConcessionaires();
							});
						},

					}

        }
</script>
