<template>
	<div>
		<div class="container-fluid">
            <div class="page-header">
                <div class="row align-items-end">
                    <div class="col-lg-8">
                        <div class="page-header-title">
                            <div class="d-inline">
                                <h5>Inicio</h5>
																<span>{{saludo}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">

														<div class="row clearfix">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="widget">
                                    <div class="widget-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="state">
                                                <h6>Concesionarios</h6>
                                                <h2>{{concessionaires}}</h2>
                                            </div>
                                            <div class="icon">
                                                <i class="ik ik-truck"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="widget">
                                    <div class="widget-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="state">
                                                <h6>Clientes Activos</h6>
                                                <h2>{{clients_on}}</h2>
                                            </div>
                                            <div class="icon">
                                                <i class="ik ik-users"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="widget">
                                    <div class="widget-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="state">
                                                <h6>Clientes Inactivos</h6>
                                                <h2>{{clients_off}}</h2>
                                            </div>
                                            <div class="icon">
                                                <i class="ik ik-user-x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="31" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="widget">
                                    <div class="widget-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="state">
                                                <h6>Localidades</h6>
                                                <h2>{{locates_count}}</h2>
                                            </div>
                                            <div class="icon">
                                                <i class="ik ik-map-pin"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        </div>
                    </div>
                </div>
            </div>
						<div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col-lg-12 col-md-12">
                                                <h3 class="card-header">Lista de Concesionarios</h3>
                                            </div>
																						<div class="card-body chat-box scrollable" style="">
																							<ul class="chat-list">
		                                            <li class="chat-item" v-for="conce in conces" >
																									<div class="row">
																										<div class="col-lg-6 col-md-6">
		                                                    <h6 class="font-medium">{{conce.name}}</h6>
																										</div>
																										<div class="col-lg-6 col-md-6">
		                                                    <h6 class="font-medium">{{conce.ubicacion}}</h6>
																										</div>
																									</div>
																							  </li>
																							</ul>
																					</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card" style="min-height: 422px;">
                                    <div class="card-header"><h3>Lista de Localidades</h3></div>
                                    <div class="card-body">
																				<div class="card-body chat-box scrollable" style="">
																					<ul class="chat-list">
																						<li class="chat-item" v-for="locate in locates" >
																										<h6 class="font-medium">{{locate.nombre}}</h6>
																						</li>
																					</ul>
																			</div>


                                    </div>
                                </div>
                            </div>
                        </div>


         </div>
	</div>

</template>
<script>
    export default {
         mounted(){
            this.init();
        },
        data(){
            return{
               saludo:null,
							 clients_on:null,
							 clients_off:null,
							 concessionaires:null,
							 locates_count:null,
							 conces:null,
							 locates:null,

            }
        },
        methods:{
            init(){

                let url ="saludo";
                axios.get(url).then(response=>{
                    this.saludo=response.data.saludo;
									  this.clients_on=response.data.clients_on;
									  this.clients_off=response.data.clients_off;
										this.concessionaires=response.data.concessionaires;
										this.locates_count=response.data.locates_count;
										this.locates=response.data.locates;
										this.conces=response.data.conces;

                });

            }

        }

    }
</script>
