<template>
	<div>
		<div class="container-fluid">
            <div class="page-header">
                <div class="row align-items-end">
                    <div class="col-lg-8">
                        <div class="page-header-title">
                            <div class="d-inline">
                                <h5>Reportes</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">

                                    <div class="card-header"><h3>Consulta de Clientes por Localidad	</h3></div>
                                    <div class="card-body d-flex justify-content-center">
                                        <form class="form" method="post" v-on:submit.prevent="consultar()">
																					<div class="form-group">
																						<select class="custom-select" name='locate_id' v-model="form.locate_id">
																						  <option v-for="locate in locates" :value="locate.id">{{locate.nombre}}</option>
																						</select>
																					</div>
																					<div class="form-group justify-content-center">

																						 <button type="submit" class="btn btn-primary mb-2" @click.prevent="consultar()">Consultar</button>
																					</div>
                                        </form>
                                    </div>



                        </div>
                    </div>
                </div>
            </div>
						<div class="row" v-if="show">
														 <div class="col-md-12">
																 <div class="card">
																		 <div class="card-body">
																				 <div class="row align-items-center">
																						 <div class="col-lg-12 col-md-12">
																								 <h3 class="card-header">Lista de Concesionarios</h3>
																						 </div>
																						 <div class="card-body chat-box scrollable" style="">
 																							<ul class="chat-list">
																								<li class="chat-item" v-for="conce in conces">
	                                                <div class="chat-content" >
	                                                    <h6 class="font-medium">{{conce.name}}</h6>
	                                                    <div class="box bg-light-info">{{conce.ubicacion}}</div>
	                                                </div>
	                                                <div class="chat-time" v-for="user in users">
																										<span v-if="conce.id==user.id">{{user.name}}</span>
																									</div>
                                            		</li>

 																							</ul>
 																					</div>
																				 </div>
																		 </div>
																 </div>
														 </div>

												 </div>
         </div>

	</div>

</template>
<script>
    export default {
				mounted(){
				 this.init();
		 		},
        created(){

        },
        data(){
            return{
							 locates:null,
							 form:{
								 locate_id:null,
							 },
							 concessionaires:null,
							 users:null,
							 show:false,
							 conces:null,
							 users:null,
            }
        },
        methods:{
					init(){
							var url ='reportesinit';
							axios.get(url).then(response=>{

									this.locates=response.data.locates;
							});
					},
					consultar(){
						var url='reportesconsul/'+this.form.locate_id;

						axios.get(url,this.form).then(response=>{

									this.concessionaires=response.data.concessionaires;
									this.users=response.data.users;

									this.pintar(this.concessionaires,this.users);

						});

					},
					pintar(conces,users){
						this.show=true
						this.conces = conces
						this.users = users

					},

        }

    }
</script>
