<template>
    <div>
        <div class="app-sidebar colored">
            <div class="sidebar-header">
              <router-link class="header-brand" :to="{name:'home'}">
                  <span>Geor</span>
              </router-link>

            </div>

            <div class="sidebar-content">
                <div class="nav-container">
                    <nav id="main-menu-navigation" class="navigation-main" v-for="permission in permissions">
                        <div class="nav-lavel" v-if="permission.permission_id==1">General</div>
                        <div class="nav-item">
                            <router-link v-if="permission.permission_id==6" :to="{name:'concessionaires'}">
                                <i class="ik ik-bar-chart-2"></i>
                                <span>Concesarios</span>
                            </router-link>
                        </div>
                        <div class="nav-item">
                            <router-link v-if="permission.permission_id==1" :to="{name:'clients'}">
                                <i class="ik ik-users"></i>
                                <span>Clientes</span>
                            </router-link>
                        </div>

                        <div class="nav-lavel" v-if="permission.permission_id==11" >Auditoria</div>
                        <div class="nav-item" >
                            <router-link v-if="permission.permission_id==12" :to="{name:'reportes'}">
                                <i  class="ik ik-clipboard"></i>
                                <span >Reportes</span>
                            </router-link>
                            <router-link v-if="permission.permission_id==14" :to="{name:'administracion'}">
                                <i class="ik ik-settings" ></i>
                                <span>Administración</span>
                            </router-link>
                            <router-link v-if="permission.permission_id==13" :to="{name:'bitacora'}">
                                <i   class="ik ik-menu"></i>
                                <span>Bitacora</span>
                            </router-link>

                        </div>
                       <!-- <div class="nav-lavel">&nbsp;</div>  -->
                    </nav>
                </div>
            </div>
        </div>

        <div class="main-content">
            <transition name="slide-fade" mode="out-in">
                <router-view> </router-view>
            </transition>
        </div>
    </div>



</template>
<script>
    export default {
        mounted(){
            this.getPermissions();
        },
        created(){

        },
        data(){
            return{
              permissions:null,
            }
        },
        methods:{
          getPermissions(){
            var url="home_init";
            axios.get(url).then(response=>{
                this.permissions=response.data
            });
          },

        }

    }
</script>
